<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinApp3TEX"
        tools:targetApi="31">
        <activity
            android:name=".FirstView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Game"></activity>
        <activity android:name=".Invitation"></activity>
        <activity android:name=".Language"></activity>
        <activity android:name=".LockedAchievements"></activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".Matchmaking"></activity>
        <activity android:name=".Menu"></activity>
        <activity android:name=".Offline"></activity>
        <activity android:name=".Online"></activity>
        <activity android:name=".PieceStyle"></activity>
        <activity android:name=".Profile"></activity>
        <activity android:name=".Settings"></activity>
        <activity android:name=".SignUp"></activity>
        <activity android:name=".Sound"></activity>
        <activity android:name=".Theme"></activity>
        <activity android:name=".TutorialMainViewPager"></activity>
        <activity android:name=".TutorialOne"></activity>
        <activity android:name=".TutorialTwo"></activity>
        <activity android:name=".TutorialThree"></activity>
        <activity android:name=".TutorialFour"></activity>
        <activity android:name=".TutorialFive"></activity>
        <activity android:name=".TutorialSix"></activity>
        <activity android:name=".UnlockedAchievements"></activity>
        <activity android:name=".AchievementDesc"
            android:theme="@style/Theme.AppCompat.Light.Dialog"></activity>


    </application>

</manifest>