<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/nombre_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinApp3TEX"
        tools:targetApi="31">
        <activity
            android:screenOrientation="portrait"
            android:name=".PrimeraVista"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Juego" android:screenOrientation="portrait"></activity>
        <activity android:name=".Invitacion" android:screenOrientation="portrait"></activity>
        <activity android:name=".Lenguaje" android:screenOrientation="portrait"></activity>
        <activity android:name=".LogrosBloqueados" android:screenOrientation="portrait"></activity>
        <activity android:name=".Login" android:screenOrientation="portrait"></activity>
        <activity android:name=".Matchmaking" android:screenOrientation="portrait"></activity>
        <activity android:name=".Menu" android:screenOrientation="portrait"></activity>
        <activity android:name=".Offline" android:screenOrientation="portrait"></activity>
        <activity android:name=".Online" android:screenOrientation="portrait"></activity>
        <activity android:name=".EstiloPieza" android:screenOrientation="portrait"></activity>
        <activity android:name=".Perfil" android:screenOrientation="portrait"></activity>
        <activity android:name=".Configuracion" android:screenOrientation="portrait"></activity>
        <activity android:name=".SignUp" android:screenOrientation="portrait"></activity>
        <activity android:name=".Sonido" android:screenOrientation="portrait"></activity>
        <activity android:name=".Tema" android:screenOrientation="portrait"></activity>
        <activity android:name=".TutorialMainViewPager" android:screenOrientation="portrait"></activity>
        <activity android:name=".TutorialA" android:screenOrientation="portrait"></activity>
        <activity android:name=".TutorialB" android:screenOrientation="portrait"></activity>
        <activity android:name=".TutorialC" android:screenOrientation="portrait"></activity>
        <activity android:name=".TutorialD" android:screenOrientation="portrait"></activity>
        <activity android:name=".TutorialE" android:screenOrientation="portrait"></activity>
        <activity android:name=".TutorialF" android:screenOrientation="portrait"></activity>
        <activity android:name=".LogrosDesbloqueados" android:screenOrientation="portrait"></activity>
        <activity android:name=".LogroDescripcion"
            android:theme="@style/Theme.AppCompat.Light.Dialog" android:screenOrientation="portrait"></activity>


    </application>

</manifest>